/* 구글 웹폰트 로딩 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Rubik+Vinyl&display=swap');


section{
    background-image: url('https://media.istockphoto.com/id/1443363319/ko/%EC%82%AC%EC%A7%84/%EC%8A%B9%EB%B6%80%EC%B0%A8%EA%B8%B0-%EC%A7%80%EC%A0%90%EC%97%90%EC%84%9C-%ED%9D%91%EB%B0%B1-%EA%B0%80%EC%A3%BD-%EC%B6%95%EA%B5%AC-%EB%B0%B0%EA%B2%BD%EC%97%90-%EB%AA%A9%ED%91%9C-%EA%B2%8C%EC%8B%9C%EB%AC%BC-%ED%91%B8%EB%A5%B8-%EC%9E%94%EB%94%94-%EC%95%84%EC%8A%A4%ED%8A%B8%EB%A1%9C-%ED%84%B0%ED%94%84.jpg?s=612x612&w=0&k=20&c=fT1uIeRLIYHlGcGzdA8PN402POf9ps37YVkflKdMlOo=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -175px -60px;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
}


.title{
    font-size: 100px;
    font-weight: 700;
    font-family: 'Rubik Vinyl', cursive;
    position: absolute;
    left: 30%;
    top: 5%;
    /* text-shadow: 25px 20px 20px greenyellow; */
    rotate: -5deg;
    color: white;

    
}


#gameStart {
    width: 15%;
    height: 100px;
    background: white;
    box-shadow: 25px 20px 20px black;
    font-size: 45px;
    font-weight: 700;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 220%);
    opacity: 0;
    z-index: -100;
}

#gameStart.show {
    animation: showUp 1.5s linear forwards;
}

@keyframes showUp {
    0% {
        opacity: 0;
        top: -50%;
    }
    50% {
        opacity: 0.5;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 50%;
        z-index: 100;
    }
}

.rotate {
    width: 350px;
    height: 70px;
   
    margin: 30px;
    text-align: center;

    animation: rotation 0.5s linear 1;
    animation-direction: alternate;
    /*
        normal: 0% ~ 100% 움직인다
        reverse: 100% ~ 0% 
        alternate: 0% ~ 100% ~ 0%
        alternate-reverse: 100% ~ 0% ~ 100%
    */
}

@keyframes rotation {
    0% { }
   
    100% {transform: rotate(360deg); }
}
